<form method="post" asp-controller="Phonebook" asp-action="Create">
    FirstName:<input type="text" name="txtFN" />
    LastName:<input type="text" name="txtLN" />
    <input type="submit" value="Save" />
</form>